.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px 20px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin-left: 45px;
  margin-right: 45px;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 0px;
}

.vLogo {
  background-color: #212529;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 18px;
  text-decoration: none;
}

.userLog {
  font-size: 18px;
  font-weight: 600;
  color: #212529;
  text-decoration: none;
}

.mainLogo {
  color: #212529;
  text-decoration: none;
}

/* .mainLogo:hover {
  color: #212526;
} */

.right {
  display: flex;
  align-items: center;
  gap: 0px;
}

.iconWrapper {
  margin-right: 12px;
}

.iconWrapper:first-of-type {
  margin-right: 22px;
}

.iconWrapper:last-of-type {
  margin-right: 0px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  stroke-width: 2.5;
}

.profileArea {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.dropdownArrow {
  font-size: 12px;
  margin-left: 4px;
  color: lightslategray;
}

.dropdownMenu {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: white;
  border: 1px solid #e9ecef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 140px;
  z-index: 100;
  padding: 8px 0;
  text-align: left;
}

.dropdownMenu li {
  list-style: none;
  padding: 10px 16px;
  font-size: 14px;
}

.dropdownMenu li:hover {
  background-color: #f8f9fa;
}

.dropdownMenu a {
  text-decoration: none;
  color: #212529;
}

.profile {
  background-color: #1e7f5c;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
}

.loginButton {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 12px;
}
