/* 1. 헤더 레이아웃 */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px 20px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin-left: 45px;
  margin-right: 45px;
}

/* 2. 로고 영역 */
.logoArea {
  display: flex;
  align-items: center;
  gap: 0px;
}

.vLogo {
  background-color: #212529;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 10px;
  padding-bottom: 3px;
}

.userLog {
  font-size: 22px;
  font-weight: 600;
  color: #212529;
  text-decoration: none;
}

.mainLogo {
  color: #212529;
  text-decoration: none;
}

/* 3. 오른쪽 영역 */
.right {
  display: flex;
  align-items: center;
  gap: 16px; /* 아이콘, 버튼, 프로필 간 간격 일정하게 */
}

/* 4. 아이콘 */
.iconWrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  stroke-width: 2.5;
}

/* 5. 새 글 작성 버튼 */
.writeButton {
  height: 32px;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: 0.7px;
  font-weight: 600;
  border-radius: 9999px;
  border: 1px solid #212529;
  background-color: white;
  color: #212529;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.writeButton:hover {
  background-color: #212529;
  color: white;
}

/* 6. 로그인 버튼 */
.loginButton {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 12px;
}

/* 7. 프로필 */
.profileArea {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile {
  background-color: #1e7f5c;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  vertical-align: middle;
}

.dropdownArrow {
  font-size: 12px;
  color: lightslategray;
  line-height: 1;
  position: relative;
  top: 1px;
}

/* 8. 드롭다운 */
.dropdownMenu {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: white;
  border: 1px solid #e9ecef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 140px;
  z-index: 100;
  padding: 8px 0;
  text-align: left;
}

.dropdownMenu li {
  list-style: none;
  padding: 10px 16px;
  font-size: 14px;
}

.dropdownMenu li:hover {
  background-color: #f8f9fa;
  color: #12b886;
}

.dropdownMenu li:hover a {
  color: #12b886;
}

.dropdownMenu a {
  text-decoration: none;
  color: #212529;
}

.dropdownMenu :hover {
  color: #12b886;
}

/* 9. 로그아웃 버튼 */
.logoutBtn {
  all: unset;
  cursor: pointer;
  color: inherit;
}
